[Unit]
Description=My main HTTP server
After=network.target syslog.target

[Service]
User=kelvin
Type=forking
PIDFile=/tmp/main-server-pid
ExecStart=/home/kelvin/main-server/main-server
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target 

